.member-card {
  background-color: #f8faff;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.member-card h3 {
  margin-bottom: 5px;
  color: #333;
}
.member-card p {
  margin: 3px 0;
  font-size: 14px;
}
